body{   
    font-family: Arial, Helvetica, sans-serif;
    background-color:gainsboro;
}
.page_detail{
    display: grid;
    grid-template-rows: 80% 20%;
}
.container_product{
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
.container-left{
    display: grid;
    grid-template-rows: 300px 300px;
}
/* tựa đề */
.title{
    padding:10px;font-weight:bold;
}
/* hiển thị hình ảnh */
.img-view{
    /* width: 300px; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: 20% 80%;
  
}
img{
    width: 100%;
    height: 100%;
}
.itemview{
    padding-bottom: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
/* hiển thị thông tin */
.infor{
    width: 364px;
}
.group_infodetail{
   
    width: 364px;
    display: grid;
    margin: auto;
    grid-template-columns: 20% 30% 50%;
    
    
}
.detail-info{
    cursor: pointer;
    padding: 10px 0;
    border: none;   
}
.status1{
    background-color:white;
    border-right: 1px solid #c9ced6;
    color: #c9ced6;
    border-bottom: 1px solid #c9ced6;
    border-top: 1px solid #c9ced6;
}
.status2{
    background-color:white;
    color: #c9ced6;
    border-bottom: 1px solid #c9ced6;
    border-top: 1px solid #c9ced6;
}
.status3{
    background-color: dodgerblue;
    color: white;
}
.title_status{
    
    font-size: 20px;
    background-color: white;
}
.info_detail{
    padding: 10px;
   
    background-color:white;
}
.rowItem{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 10% 90%;
    font-weight:bold;font-size:15px;color: #8f939c
}
.rowItemIcon{
    line-height: 25px;
    color: #8f939c;
}

/* hiển thị comment */
.container_cmt{
    width: 350px;
    background-color: white;
    margin: auto;
}
h5, .h5 {
    font-size: initial;
    font-weight: bold;
    color: #8f939c;
    margin-top: 10px;
    font-family: inherit;
}
.form-control{
    width:330px;margin: auto
}
.edit{
    margin:10px 10px;
}